.attributeTableMainItem {
  background: #F9F9F9
}

.attributeTableMainItem:hover {
  background: #F5F5F5
}

.attributeTableDescriptionItem {
  background: #FFF
}

.closed {
  display: none
}

.marked {
  background-color: rgb(217, 237, 247)
}

.avoid-clicks {
  pointer-events: none !important;
}
