.headerBrand {
  font-size: 36px;
  margin-top: 25px;
  font-weight: bold
}

.headerDescription {
  padding-top: 27px
}

.logo {
  margin-right: 20px
}

.navbar-brand {
  padding-top: 0;
  padding-bottom: 0
}

.athena-link:link {
    text-decoration: none;
}

.athena-link:hover {
    color: black;
}

