.exceptionTraceback {
    white-space: pre-line
}

.errorPanel > .panel-collapse > .panel-body {
  background: #FCF8E3
}

.errorTable {
  color:  #615F58;
  border: 1px solid #C4C1B1
}

.errorTable td {
  padding: 5px;
  border: 1px solid #C4C1B1
}
